<div class="report-table-container">
  <% if (data && data.length > 0) { %>
    <% const truncate = (text, maxLen = 30) => text.length <= maxLen ? text : text.substring(0, maxLen) + '...'; %>
    <div class="report-table-header">
      <span>Item</span>
      <span>Views</span>
    </div>
    <ul class="report-table-list">
      <% for (const item of data) { %>
        <li>
          <div class="list-item-info">
            <% 
              let displayKey = item.key;
              if (typeof isCountries !== 'undefined' && isCountries && typeof countryNames !== 'undefined') {
                displayKey = countryNames[item.key] || item.key;
              } else if (typeof isLanguages !== 'undefined' && isLanguages) {
                try {
                  displayKey = new Intl.DisplayNames(['en'], { type: 'language' }).of(item.key) || item.key;
                } catch (e) {
                  displayKey = item.key;
                }
              }
            %>
            <span class="list-item-key" title="<%= displayKey %>"><%= truncate(displayKey) %></span>
            <span class="list-item-count"><%= item.count %></span>
          </div>
          <div class="progress-bar-container">
            <div class="progress-bar" style="width: <%= item.percentage %>%"></div>
          </div>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p class="no-data">No data available for this report.</p>
  <% } %>
</div>