<div class="card report-card loading">
  <div class="card-header">
    <h2><%= title %></h2>
  </div>
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
  <div class="report-content">
    <%- include('report-table', { data: data }) %>
  </div>
</div>